@model WebDienMay.Models.SanPhamVM

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutKhachHang.cshtml";
}


<!-- Single Product Start -->
<div class="container-fluid py-5 mt-5">
    <div class="container py-5">
        <div class="row g-4 mb-5">
            <div class="col-lg-8 col-xl-9">
                <div class="row g-4">
                    <div class="col-lg-6">
                        <div class=" rounded">
                            <a href="#">
                                <img src="~/Content/IMG//@Model.sp.HinhAnh" class="img-fluid rounded" alt="Image">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h4 class="fw-bold mb-3">@Model.sp.TenSanPham</h4>
                        <p class="mb-3">Danh mục: @Model.sp.DanhMuc.TenDanhMuc</p>
                        <h5 class="fw-bold mb-3">@string.Format("{0:0,0} VND", @Model.sp.Gia)</h5>

                        <p class="mb-4">@Model.sp.MoTa</p>
                        <p class="mb-4">Công suất: @Model.sp.CongSuat</p>
                        @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                        {
                            <input type="hidden" name="sanpham" value="@Model.sp.SanPhamID" />
                            <div class="input-group quantity mb-5" style="width: 100px;">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-minus rounded-circle bg-light border">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control form-control-sm text-center border-0" value="1" name="soluong">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-sm btn-plus rounded-circle bg-light border">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <button class="btn border border-danger rounded-pill px-4 py-2 mb-4 text-danger"><i class="fa fa-shopping-bag me-2 text-danger"></i> Thêm vào giỏ</button>
                        }

                    </div>


                </div>
            </div>
            <div class="col-lg-4 col-xl-3">
                <div class="row g-4 fruite">
                    <div class="col-lg-12">
                        <div class="input-group w-100 mx-auto d-flex mb-4">
                            @using (Html.BeginForm("Search", "Home", FormMethod.Get, new { @class = "input-group w-100 mx-auto d-flex mb-4" }))
                            {
                                <input type="search" class="form-control p-3" placeholder="Nhập tên sản phẩm" aria-describedby="search-icon-1" style="width:200px" name="keyword">
                                <button id="search-icon-1" class="input-group-text p-3"><i class="fa fa-search"></i></button>
                            }
                        </div>
                        @Html.Action("Index", "Category")
                    </div>

                </div>
            </div>
        </div>
        <h1 class="fw-bold mb-0">Sản phẩm tương tự</h1>
        <div class="vesitable">
            <div class="owl-carousel vegetable-carousel justify-content-center">
                @foreach (var sanpham in Model.sp_tuong_tu)
                {
                    using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                    {
                        <input type="hidden" name="sanpham" value="@sanpham.SanPhamID" />
                        <div class="border border-info rounded position-relative vesitable-item" id="cart">
                            <div class="vesitable-img">
                                <a href="/Product/Details?id=@sanpham.SanPhamID"><img src="~/Content/IMG/@sanpham.HinhAnh" class="img-fluid w-100 rounded-top" alt=""></a>

                            </div>
                            <div class="text-white bg-info px-3 py-1 rounded position-absolute" style="top: 10px; right: 10px;">@sanpham.DanhMuc.TenDanhMuc</div>
                            <div class="p-4 pb-0 rounded-bottom">
                                <h4>@sanpham.TenSanPham</h4>
                                <div class="d-flex justify-content-between flex-lg-wrap">
                                    <p class="text-dark fs-5 fw-bold">@string.Format("{0:0,0} VND", @sanpham.Gia)</p>
                                    <button class="btn border border-danger rounded-pill px-3 py-1 mb-4 text-danger"><i class="fa fa-shopping-bag me-2 text-danger"></i> Thêm vào giỏ</button>
                                </div>
                            </div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>
<!-- Single Product End -->
